@import url('https://fonts.googleapis.com/css2?family=Literata:wght@200;300;400&display=swap');

* {
    scroll-behavior: smooth;
    box-sizing: border-box;

    --brown: #2d1404;
    --golden: rgba(223, 201, 91, 0.8);
    --white: rgba(255, 255, 255, 0.7);
}

body {
    margin: 0;
    padding: 0;

    color: var(--white);
    background-color: var(--brown);

    font-family: 'Literata', serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;

    text-align: center;
    overflow: hidden;
}

.container {
    position: relative;
    display: grid;
    justify-items: center;
    padding: 0 1.25rem 1.25rem 1.25rem;
    grid-template-areas:
        'head'
        'main';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    z-index: 20;
    & ::-webkit-scrollbar {
        display: none;
    }
    .small-info {
        font-size: .65em;
        color: var(--white);
    }
    main {
        display: block;
        grid-area: main;
        overflow: auto;
    }
}

@media all and (min-width: 370px) {
    .container {
        padding: 1.5rem;
    }
}

@media all and (min-width: 750px) {
    body {
        font-size: 18px;
    }
}

@media all and (min-width: 1000px) {
    body {
        text-align: left;
    }
    .container {
        padding: 0 3rem;
    }
}

@media all and (min-width: 1250px) {
    .container {
        padding: 0 8rem;
    }
}

