@import url('https://fonts.googleapis.com/css2?family=Literata:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;

    --brown: #5B2B0B;
    --golden: rgba(223, 201, 91, 0.8);
    --white: rgba(255, 255, 255, 0.7);
}

body {
    margin: 0;
    padding: 0;

    color: var(--white);
    background-color: var(--brown);

    font-family: 'Literata', serif;
    font-weight: 300;
    letter-spacing: 1px;

    scroll-behavior: smooth;
}

.container {
    padding: 2rem;
}

@media all and (min-width: 1024px) {
    .container {
        padding: 2rem 3rem;
    }
}

