h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Literata';
    font-weight: 400;
    font-size: 1.75em;
    line-height: 50px;

    margin: 0;
}

.golden {
    color: var(--golden);
}

@media all and (min-width: 1000px) {
    h1 {
        line-height: 65px;
    }
}