@import url("https://fonts.googleapis.com/css2?family=Literata:wght@200;300;400&display=swap");
* {
  box-sizing: border-box;
  --brown: #5B2B0B;
  --golden: rgba(223, 201, 91, 0.8);
  --white: rgba(255, 255, 255, 0.7);
}

body {
  margin: 0;
  padding: 0;
  color: var(--white);
  background-color: var(--brown);
  font-family: "Literata", serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  text-align: center;
}

.container {
  padding: 1.25rem;
}

@media all and (min-width: 370px) {
  .container {
    padding: 1.5rem;
  }
}
@media all and (min-width: 750px) {
  body {
    font-size: 20px;
  }
}
@media all and (min-width: 1000px) {
  body {
    font-size: 22px;
    text-align: left;
  }
  .container {
    padding: 2rem 3rem;
  }
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header img {
  -o-object-fit: contain;
     object-fit: contain;
}
header img.header-img__logo {
  width: 140px;
  height: auto;
}
header img.header-img__menu {
  width: 30px;
  height: auto;
  position: relative;
}
header img.header-img__menu:hover {
  cursor: pointer;
}
header nav {
  display: none;
  top: 100px;
  right: 0;
  z-index: 20;
}
header nav .header-nav__container {
  width: 100%;
  height: 100%;
  background: linear-gradient(144.39deg, #C5C5C5 -356.09%, #C5C5C5 -308.57%, #FFFFFF -278.56%, rgba(109, 109, 109, 0.01) -78.47%, rgba(223, 201, 91, 0.32) 91.61%);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  min-width: 140px;
  margin: 0.5rem;
  border-radius: 20px;
  padding: 1rem 1.25rem;
}
header .sidebar {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-left {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

nav {
  position: absolute;
}
nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.125em;
  margin-bottom: 0.75rem;
}
nav ul li:last-child {
  margin: 0;
}

@media all and (min-width: 1024px) {
  header img.header-img__menu {
    display: none;
  }
  header .header-navContainer__mobile.show {
    display: none;
  }
  header nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    border: none;
  }
  header nav .header-nav__container {
    padding: 0;
    background: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
  header nav ul {
    flex-direction: row;
  }
  header nav ul li {
    margin: 0 3.25rem 0 0;
    font-size: 14px;
  }
}
a,
a:hover,
a:focus,
a:visited,
a:active,
a:link {
  color: var(--white);
  text-decoration: none;
}
a:hover,
a:hover:hover,
a:focus:hover,
a:visited:hover,
a:active:hover,
a:link:hover {
  color: var(--golden);
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Literata";
  font-weight: 400;
  font-size: 1.75em;
  line-height: 50px;
  margin: 0;
}

.golden {
  color: var(--golden);
}

@media all and (min-width: 1000px) {
  h1 {
    line-height: 65px;
  }
}
section {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 2em;
}
section article {
  margin-bottom: 3rem;
  width: 100%;
  height: 100%;
}
section article p {
  position: relative;
  font-weight: 200;
  font-size: 0.85em;
  line-height: 200%;
  margin-bottom: 32px;
}
section article .article-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
section article .article-button__container .article-button__content {
  font-size: 0.8em;
  border-radius: 20px;
  border: 1px solid var(--golden);
  color: var(--white);
  padding: 1.75em 2em;
}
section article .article-button__container:hover {
  cursor: pointer;
}
section .section-imgContainer {
  position: relative;
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 25;
}

.text-white__gradient,
.text-golden__gradient,
.container-white__gradient,
.container-golden__gradient {
  position: absolute;
  left: -100px;
  top: 30%;
  width: 30%;
  height: 50%;
  border-radius: 50%;
  background: rgba(255, 254, 254, 0.6);
  filter: blur(350px);
  z-index: 20;
}

.text-golden__gradient {
  background: rgb(223, 201, 91);
  filter: blur(250px);
}

.container-white__gradient,
.container-golden__gradient {
  left: 0;
  top: 40%;
  width: 70%;
  height: 70%;
  border-radius: 0%;
  filter: blur(300px);
}

@media all and (min-width: 1000px) {
  section {
    flex-direction: row;
    grid-gap: 3em;
  }
  section article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    height: 100%;
    margin-bottom: 0;
  }
  section article .article-button__container {
    justify-content: flex-start;
  }
  section .section-imgContainer {
    width: 45%;
  }
}/*# sourceMappingURL=styles.css.map */